# DB
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password

# Google Cloud
GCP_PROJECT_ID=your_gcp_project_id
GCP_LOCATION=your_gcp_location
GOOGLE_APPLICATION_CREDENTIALS=/path/to/service-account.json

# 네이버 API
NAVER_CLIENT_ID=your_naver_client_id
NAVER_CLIENT_SECRET=your_naver_client_secret